* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #444;
}

.container {
    position: relative;
    width: 70vw;
    height: 60vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.reset-password-form-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form.reset-password-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    padding: 0 10px;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.title {
    font-size: 35px;
    color: #07472d;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: #e7edeb;
    margin: 10px 0;
    border: 2px solid hsl(118, 76%, 13%);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #184426;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background: #14811f;
}

.back-to-signin {
    margin: 10px 0;
    font-size: 16px;
}

.back-to-signin a {
    text-decoration: none;
    color: #184426;
}

.back-to-signin a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 70vh;
    }
}

@media (max-width:635px) {
    form {
        width: 80%;
    }
}

@media (max-width:320px) {
    form {
        width: 90%;
    }
}
